@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
:root {
    --base: #fc85ae;
    --darker-shade: #f15c90;
}

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    text-align: center;
}

.container>* {
    background-color: #ffffff;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.container-wrapper {
    height: 400px;
    width: 400px;
}

.fa {
    color: white;
}

.fa-heart {
    color: red;
}


/* MAIN STYLE RULES */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.title {
    font-size: 3em;
}

.parent-wrapper {
    padding: 0 50px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, rgba(243, 243, 243, .8), rgba(243, 243, 243, .8)), url('images/bg.jpg');
}

.board {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.control-buttons,
.delete-and-share {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 20px;
    background-color: var(--base);
    text-align: center;
    cursor: pointer;
    transition: .5s background-color;
    /* border: 2px solid black; */
}

.button:focus {
    border: 2px solid var(--darker-shade);
}

.button:hover {
    background-color: var(--darker-shade);
}

.slider {
    margin: 20px auto;
    background-color: var(--base);
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 100px;
}

footer p {
    font-weight: 500;
}

.profile {
    text-decoration: none;
    color: black;
    transition: .5s color;
}

.profile:hover {
    color: var(--darker-shade);
}